.header {
    background-color: bisque;
}

.menu {
    width: fit-content;
    margin: 0 auto;
    display: flex;
}



.menu__btn {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

